.addPageWrapper {
    display: flex;
    justify-content: center;
    background-color: #BCBEC2;
}

.addCharacterButton {
    box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Didact Gothic', sans-serif;
	font-size:1.1em;
	font-weight:bold;
    padding: 0.3em 0.5em;
    width: 55%;
    margin: 0.5em;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.addCharacterButton:hover {
	background:linear-gradient(to bottom, #D90404 5%, #000000 100%);
	background-color:#ce0100;
}